In [1]:
import sqlite3
import pandas as pd

In [2]:
tmdb_df = pd.read_csv("zippedData/tmdb.movies.csv.gz")
tmdb_df

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [3]:
con = sqlite3.connect("zippedData/im.db/im.db")

cur = con.cursor()

In [4]:
%%bash 
sqlite3 zippedData/im.db/im.db
.schema

CREATE TABLE IF NOT EXISTS "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
);
CREATE TABLE IF NOT EXISTS "directors" (
"movie_id" TEXT,
  "person_id" TEXT
);
CREATE TABLE IF NOT EXISTS "known_for" (
"person_id" TEXT,
  "movie_id" TEXT
);
CREATE TABLE IF NOT EXISTS "movie_akas" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "title" TEXT,
  "region" TEXT,
  "language" TEXT,
  "types" TEXT,
  "attributes" TEXT,
  "is_original_title" REAL
);
CREATE TABLE IF NOT EXISTS "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
);
CREATE TABLE IF NOT EXISTS "persons" (
"person_id" TEXT,
  "primary_name" TEXT,
  "birth_year" REAL,
  "death_year" REAL,
  "primary_profession" TEXT
);
CREATE TABLE IF NOT EXISTS "principals" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "person_id" TEXT,
  "category" TEXT,
  "job" TEXT,
  "characters" TEXT
);
CREATE TABLE IF NOT EXISTS "writers" (
"movie_id" TEXT,
  "person_id" TEXT
);

In [5]:
imdb_df = pd.read_sql("""
SELECT *
FROM movie_basics AS tb1
LEFT JOIN movie_ratings AS tb2
    ON tb1.movie_id = tb2.movie_id
""",con)
imdb_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119.0
...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,None,NaN,NaN
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,None,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,None,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,None,NaN,NaN

In [6]:
imdb_df = imdb_df.dropna()
imdb_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119.0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",tt0137204,8.1,263.0
...,...,...,...,...,...,...,...,...,...
146113,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,tt9911774,8.4,365.0
146114,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,tt9913056,6.2,5.0
146115,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,tt9913084,6.2,6.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,"Drama,Family",tt9914286,8.7,136.0
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,tt9916160,6.5,11.0

In [7]:
imdb_df.groupby("genres").count()

,movie_id,primary_title,original_title,start_year,runtime_minutes,movie_id,averagerating,numvotes
genres,,,,,,,,
Action,721,721,721,721,721,721,721,721
"Action,Adult,Comedy",1,1,1,1,1,1,1,1
"Action,Adventure",62,62,62,62,62,62,62,62
"Action,Adventure,Animation",158,158,158,158,158,158,158,158
"Action,Adventure,Biography",18,18,18,18,18,18,18,18
...,...,...,...,...,...,...,...,...
Thriller,1288,1288,1288,1288,1288,1288,1288,1288
"Thriller,War",4,4,4,4,4,4,4,4
"Thriller,Western",2,2,2,2,2,2,2,2
War,30,30,30,30,30,30,30,30
Western,64,64,64,64,64,64,64,64

In [8]:
imdb_df = imdb_df.loc[:,~imdb_df.apply(lambda x: x.duplicated(),axis=1).all()].copy() #removed duplicate columns
imdb_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263.0
...,...,...,...,...,...,...,...,...
146113,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365.0
146114,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6.2,5.0
146115,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,"Drama,Family",8.7,136.0
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,6.5,11.0

In [9]:
imdb_df['genres'] = imdb_df['genres'].str.split(",")
imdb_df['genres']

0                 [Action, Crime, Drama]
1                     [Biography, Drama]
2                                [Drama]
4               [Comedy, Drama, Fantasy]
7         [Adventure, Animation, Comedy]
                       ...
146113                           [Drama]
146114                     [Documentary]
146115                     [Documentary]
146122                   [Drama, Family]
146134                     [Documentary]
Name: genres, Length: 65720, dtype: object

In [10]:
imdb_df = imdb_df.explode("genres")

In [11]:
imdb_df.groupby('genres').describe()

            start_year                                                  \
                 count         mean       std     min      25%     50%
genres
Action          6297.0  2014.279816  2.623898  2010.0  2012.00  2014.0
Adult              2.0  2013.500000  2.121320  2012.0  2012.75  2013.5
Adventure       3621.0  2014.267053  2.544345  2010.0  2012.00  2014.0
Animation       1615.0  2014.338080  2.653632  2010.0  2012.00  2014.0
Biography       3693.0  2013.950718  2.398934  2010.0  2012.00  2014.0
Comedy         15514.0  2014.229083  2.609725  2010.0  2012.00  2014.0
Crime           4338.0  2014.222683  2.570603  2010.0  2012.00  2014.0
Documentary    16423.0  2014.107167  2.538456  2010.0  2012.00  2014.0
Drama          28394.0  2014.212474  2.585523  2010.0  2012.00  2014.0
Family          3231.0  2014.102136  2.477159  2010.0  2012.00  2014.0
Fantasy         1969.0  2014.262062  2.585605  2010.0  2012.00  2014.0
Game-Show          2.0  2015.000000  2.828427  2013.0  2014.00  2015.0
History         2704.0  2013.857618  2.400840  2010.0  2012.00  2014.0
Horror          6917.0  2014.312997  2.562333  2010.0  2012.00  2014.0
Music           1844.0  2013.895879  2.502740  2010.0  2012.00  2014.0
Musical          638.0  2013.998433  2.617115  2010.0  2012.00  2014.0
Mystery         2889.0  2014.407407  2.522851  2010.0  2012.00  2015.0
News             575.0  2013.050435  1.841989  2010.0  2012.00  2013.0
Reality-TV        13.0  2014.076923  2.431102  2010.0  2013.00  2015.0
Romance         5976.0  2014.147256  2.541123  2010.0  2012.00  2014.0
Sci-Fi          2048.0  2014.323242  2.568268  2010.0  2012.00  2014.0
Short              1.0  2018.000000       NaN  2018.0  2018.00  2018.0
Sport           1099.0  2014.269336  2.491566  2010.0  2012.00  2014.0
Thriller        7583.0  2014.365818  2.547031  2010.0  2012.00  2014.0
War              795.0  2014.139623  2.622203  2010.0  2012.00  2014.0
Western          256.0  2014.281250  2.640373  2010.0  2012.00  2014.0

                             runtime_minutes              ... averagerating  \
                 75%     max           count        mean  ...           75%
genres                                                    ...
Action       2016.00  2019.0          6297.0  104.003176  ...         6.900
Adult        2014.25  2015.0             2.0   95.500000  ...         4.925
Adventure    2016.00  2019.0          3621.0   93.771334  ...         7.200
Animation    2017.00  2019.0          1615.0   85.456347  ...         7.200
Biography    2016.00  2019.0          3693.0   90.832927  ...         7.800
Comedy       2016.00  2019.0         15514.0   97.212389  ...         6.900
Crime        2016.00  2019.0          4338.0   99.509912  ...         7.000
Documentary  2016.00  2019.0         16423.0   85.766303  ...         8.000
Drama        2016.00  2019.0         28394.0   98.434247  ...         7.200
Family       2016.00  2019.0          3231.0   92.311359  ...         7.400
Fantasy      2016.00  2019.0          1969.0   96.213814  ...         6.800
Game-Show    2016.00  2017.0             2.0  117.000000  ...         8.150
History      2016.00  2019.0          2704.0   92.605030  ...         7.800
Horror       2016.00  2019.0          6917.0   88.575828  ...         5.900
Music        2016.00  2019.0          1844.0   93.228308  ...         8.000
Musical      2016.00  2019.0           638.0  104.369906  ...         7.600
Mystery      2017.00  2019.0          2889.0   95.195223  ...         6.800
News         2014.00  2019.0           575.0   78.271304  ...         7.900
Reality-TV   2015.00  2018.0            13.0   76.000000  ...         7.600
Romance      2016.00  2019.0          5976.0  103.350067  ...         7.000
Sci-Fi       2017.00  2019.0          2048.0   92.326660  ...         6.500
Short        2018.00  2018.0             1.0   18.000000  ...         8.800
Sport        2016.00  2019.0          1099.0   92.182894  ...         7.800
Thriller     2016.00  2019.0          7583.0   96.414084  ...         6.600
War          2016.00  2019.0           795.0   97.011321  ...         7.500
Western      2017.00  2019.0           256.0   93.960938  ...         6.900

                  numvotes                                                    \
              max    count          mean            std  min     25%     50%
genres
Action        9.8   6297.0  16059.485946   73678.031030  5.0   33.00   242.0
Adult         5.9      2.0     68.000000      84.852814  8.0   38.00    68.0
Adventure    10.0   3621.0  23259.583817   95358.388374  5.0   23.00   131.0
Animation     9.6   1615.0   9503.384520   47032.887248  5.0   26.00   121.0
Biography     9.8   3693.0   5849.763878   39946.891743  5.0   13.00    41.0
Comedy       10.0  15514.0   4781.572709   29989.322214  5.0   25.00   118.5
Crime        10.0   4338.0   9132.800369   42596.120189  5.0   32.00   203.5
Documentary  10.0  16423.0    286.786945    1944.724051  5.0    9.00    21.0
Drama        10.0  28394.0   4206.977143   29792.302081  5.0   20.00    85.0
Family        9.7   3231.0   2670.517487   23484.577927  5.0   16.00    56.0
Fantasy       9.4   1969.0  13370.734891   62280.137304  5.0   22.00   112.0
Game-Show     9.0      2.0   1734.500000    2443.053929  7.0  870.75  1734.5
History      10.0   2704.0   2898.483358   23982.457083  5.0   12.00    40.0
Horror        9.2   6917.0   3449.150499   19804.760191  5.0   25.00   103.0
Music         9.8   1844.0   2955.349241   23187.619032  5.0   14.00    45.0
Musical       9.5    638.0   2171.189655   17780.298149  5.0   13.00    49.0
Mystery       9.3   2889.0   8532.349948   45998.059524  5.0   24.00   136.0
News          9.4    575.0    214.406957    1167.511655  5.0   10.00    19.0
Reality-TV    8.8     13.0     30.307692      43.401967  6.0   10.00    19.0
Romance       9.7   5976.0   4497.207664   23928.338187  5.0   29.00   149.0
Sci-Fi        9.2   2048.0  20974.268555  100160.935169  5.0   28.00   159.0
Short         8.8      1.0      8.000000            NaN  8.0    8.00     8.0
Sport         9.7   1099.0   3412.451319   22547.430579  5.0   17.00    70.0
Thriller      9.4   7583.0   6346.654490   39492.715238  5.0   29.00   165.0
War           9.7    795.0   3374.472956   19933.386013  5.0   19.00   102.0
Western       9.2    256.0   9578.042969   80008.874850  5.0   21.00    89.0


                 75%        max
genres
Action       1807.00  1841066.0
Adult          98.00      128.0
Adventure    1355.00  1841066.0
Animation     824.00   682218.0
Biography     454.00  1035358.0
Comedy        605.00   948394.0
Crime        1599.75  1035358.0
Documentary    74.00    74978.0
Drama         487.00  1299334.0
Family        220.00   719629.0
Fantasy       873.00   784780.0
Game-Show    2598.25     3462.0
History       283.50   593629.0
Horror        578.00   553751.0
Music         371.25   616916.0
Musical       204.00   285971.0
Mystery       946.00  1005960.0
News           69.50    23264.0
Reality-TV     30.00      171.0
Romance       810.25   621018.0
Sci-Fi       1121.75  1841066.0
Short           8.00        8.0
Sport         505.50   403755.0
Thriller      892.50  1387769.0
War           733.00   381993.0
Western       433.25  1211405.0

[26 rows x 32 columns]

In [12]:
review_df = imdb_df

In [13]:
review_df.groupby("genres").mean()

              start_year  runtime_minutes  averagerating      numvotes
genres
Action       2014.279816       104.003176       5.784437  16059.485946
Adult        2013.500000        95.500000       3.950000     68.000000
Adventure    2014.267053        93.771334       6.178873  23259.583817
Animation    2014.338080        85.456347       6.250836   9503.384520
Biography    2013.950718        90.832927       7.169185   5849.763878
Comedy       2014.229083        97.212389       6.014110   4781.572709
Crime        2014.222683        99.509912       6.110742   9132.800369
Documentary  2014.107167        85.766303       7.316787    286.786945
Drama        2014.212474        98.434247       6.391692   4206.977143
Family       2014.102136        92.311359       6.401362   2670.517487
Fantasy      2014.262062        96.213814       5.894413  13370.734891
Game-Show    2015.000000       117.000000       7.300000   1734.500000
History      2013.857618        92.605030       7.048928   2898.483358
Horror       2014.312997        88.575828       4.934538   3449.150499
Music        2013.895879        93.228308       7.070662   2955.349241
Musical      2013.998433       104.369906       6.524451   2171.189655
Mystery      2014.407407        95.195223       5.891346   8532.349948
News         2013.050435        78.271304       7.278783    214.406957
Reality-TV   2014.076923        76.000000       6.600000     30.307692
Romance      2014.147256       103.350067       6.148059   4497.207664
Sci-Fi       2014.323242        92.326660       5.431494  20974.268555
Short        2018.000000        18.000000       8.800000      8.000000
Sport        2014.269336        92.182894       6.964604   3412.451319
Thriller     2014.365818        96.414084       5.592140   6346.654490
War          2014.139623        97.011321       6.573962   3374.472956
Western      2014.281250        93.960938       5.824219   9578.042969

In [14]:
review_df.groupby('runtime_minutes').count()

,movie_id,primary_title,original_title,start_year,genres,averagerating,numvotes
runtime_minutes,,,,,,,
3.0,7,7,7,7,7,7,7
4.0,3,3,3,3,3,3,3
5.0,11,11,11,11,11,11,11
6.0,6,6,6,6,6,6,6
7.0,8,8,8,8,8,8,8
...,...,...,...,...,...,...,...
808.0,3,3,3,3,3,3,3
1100.0,2,2,2,2,2,2,2
1440.0,1,1,1,1,1,1,1
14400.0,1,1,1,1,1,1,1
51420.0,1,1,1,1,1,1,1

In [15]:
(review_df['runtime_minutes'] > 40).value_counts()

True     117850
False       587
Name: runtime_minutes, dtype: int64

In [16]:
imdb_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Action,7.0,77.0
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Crime,7.0,77.0
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Drama,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography,7.2,43.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Drama,7.2,43.0
...,...,...,...,...,...,...,...,...
146114,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6.2,5.0
146115,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Drama,8.7,136.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Family,8.7,136.0
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,6.5,11.0

In [17]:
s = review_df[review_df['runtime_minutes'] > 40]
s

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Action,7.0,77.0
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Crime,7.0,77.0
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Drama,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography,7.2,43.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Drama,7.2,43.0
...,...,...,...,...,...,...,...,...
146114,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6.2,5.0
146115,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Drama,8.7,136.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Family,8.7,136.0
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,6.5,11.0

In [18]:
s.groupby('runtime_minutes').count()

,movie_id,primary_title,original_title,start_year,genres,averagerating,numvotes
runtime_minutes,,,,,,,
41.0,28,28,28,28,28,28,28
42.0,23,23,23,23,23,23,23
43.0,29,29,29,29,29,29,29
44.0,56,56,56,56,56,56,56
45.0,515,515,515,515,515,515,515
...,...,...,...,...,...,...,...
808.0,3,3,3,3,3,3,3
1100.0,2,2,2,2,2,2,2
1440.0,1,1,1,1,1,1,1
14400.0,1,1,1,1,1,1,1
51420.0,1,1,1,1,1,1,1

In [19]:
review_df = s

In [20]:
review_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Action,7.0,77.0
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Crime,7.0,77.0
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Drama,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography,7.2,43.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Drama,7.2,43.0
...,...,...,...,...,...,...,...,...
146114,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6.2,5.0
146115,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Drama,8.7,136.0
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Family,8.7,136.0
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,6.5,11.0

In [21]:
review_df.groupby("genres").count()

,movie_id,primary_title,original_title,start_year,runtime_minutes,averagerating,numvotes
genres,,,,,,,
Action,6292,6292,6292,6292,6292,6292,6292
Adult,2,2,2,2,2,2,2
Adventure,3596,3596,3596,3596,3596,3596,3596
Animation,1605,1605,1605,1605,1605,1605,1605
Biography,3642,3642,3642,3642,3642,3642,3642
Comedy,15501,15501,15501,15501,15501,15501,15501
Crime,4333,4333,4333,4333,4333,4333,4333
Documentary,16106,16106,16106,16106,16106,16106,16106
Drama,28344,28344,28344,28344,28344,28344,28344
Family,3215,3215,3215,3215,3215,3215,3215
Fantasy,1968,1968,1968,1968,1968,1968,1968
Game-Show,2,2,2,2,2,2,2
History,2668,2668,2668,2668,2668,2668,2668
Horror,6916,6916,6916,6916,6916,6916,6916
Music,1835,1835,1835,1835,1835,1835,1835
Musical,636,636,636,636,636,636,636
Mystery,2885,2885,2885,2885,2885,2885,2885
News,561,561,561,561,561,561,561
Reality-TV,11,11,11,11,11,11,11
Romance,5974,5974,5974,5974,5974,5974,5974
Sci-Fi,2044,2044,2044,2044,2044,2044,2044
Sport,1084,1084,1084,1084,1084,1084,1084
Thriller,7581,7581,7581,7581,7581,7581,7581
War,793,793,793,793,793,793,793
Western,256,256,256,256,256,256,256

In [22]:
review_df["ratingbyvotes"] = review_df["averagerating"] / review_df["numvotes"]

<ipython-input-22-4b80413f06e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_df["ratingbyvotes"] = review_df["averagerating"] / review_df["numvotes"]

In [23]:
review_df = review_df[review_df.genres != "Adult"]
review_df = review_df[review_df.genres != "Game-Show"]
review_df = review_df[review_df.genres != "Reality-TV"]
review_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,ratingbyvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Action,7.0,77.0,0.090909
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Crime,7.0,77.0,0.090909
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Drama,7.0,77.0,0.090909
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography,7.2,43.0,0.167442
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Drama,7.2,43.0,0.167442
...,...,...,...,...,...,...,...,...,...
146114,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6.2,5.0,1.240000
146115,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6.0,1.033333
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Drama,8.7,136.0,0.063971
146122,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,Family,8.7,136.0,0.063971
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,6.5,11.0,0.590909

In [24]:
review_df.groupby("genres").mean()

,start_year,runtime_minutes,averagerating,numvotes,ratingbyvotes
genres,,,,,
Action,2014.281469,104.062937,5.783344,16072.231882,0.164897
Adventure,2014.275028,94.222469,6.171635,23421.146552,0.219955
Animation,2014.339564,85.890343,6.241994,9562.482243,0.179382
Biography,2013.966502,91.791049,7.164992,5931.262219,0.359071
Comedy,2014.228888,97.277337,6.013735,4785.571834,0.198128
Crime,2014.223863,99.595200,6.108839,9143.330025,0.175958
Documentary,2014.105364,86.969080,7.313256,291.901714,0.487582
Drama,2014.214014,98.565446,6.389874,4214.352526,0.239094
Family,2014.109176,92.642613,6.393686,2683.626439,0.286939
Fantasy,2014.263211,96.257622,5.894055,13377.524898,0.212654
History,2013.870315,93.478636,7.039543,2937.378561,0.364565
Horror,2014.312464,88.585020,4.934153,3449.645171,0.162236
Music,2013.895913,93.570572,7.067357,2969.737875,0.338452
Musical,2013.992138,104.647799,6.517296,2178.000000,0.316646
Mystery,2014.406932,95.288735,5.889948,8544.167764,0.196853
News,2013.067736,79.504456,7.270766,219.436720,0.484168
Romance,2014.148309,103.380315,6.147037,4498.705892,0.180474
Sci-Fi,2014.318004,92.468689,5.427153,21015.278376,0.170732
Sport,2014.264760,93.145756,6.955812,3459.443727,0.292918
Thriller,2014.365651,96.433848,5.591584,6348.323704,0.163275
War,2014.139975,97.242119,6.572131,3382.962169,0.263943
Western,2014.281250,93.960938,5.824219,9578.042969,0.230993

In [25]:
review_df.to_csv("review_dataframe.csv")

AttributeError: 'Series' object has no attribute 'lo'

In [ ]:
review_df.loc[review_df['runtime_minutes'] > 200]

In [ ]:
review_df.groupby("genres").sum()